* {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: rgb(212, 227, 233);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

:root {}
h1{
    font-size: 6.4rem;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: -2px;
}
.container {
    display: grid;
    width: 100%;
    grid-template: repeat(4, clamp(1px,100px,400px))/repeat(4, 1fr);
    gap: clamp(0.1px, 10px, 20px);
    transform: rotate(-30deg);
}

.MegaP {
    color: white;
    background-color: rgb(138, 0, 0);
    font-size: clamp(0.1rem, 1rem, 2rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: clamp(10px, 100px, 400px);
    height: clamp(10px, 100px, 400px);
    border: 3px solid rgb(190, 0, 0);
    box-shadow: 4px 4px 30px rgb(68, 68, 68);
    border-radius: 50%;
    margin: 20vh auto;
}

.MegaP:hover {
    background-color: rgb(196, 73, 120);
}