* {
  margin: 10px;
}

.div1 {
  background-color: gray;
}

.div2 {
  background-color: yellow;
}

.div3 {
  background-color: orange;
  padding: 30px;
}

.div4 {
  background-color: red;
  padding: 30px;

}

.div5 {
  background-color: pink;
  padding: 30px;
  margin: 50px;
}

.taille {
  height: 150px;
  width: 150px;
}

.border {
  border: 15px solid black;
}