* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: #ff9900;
  font-size: 3rem;
}

header {
  background-color: #090909;
  display: flex;
  width: 100%;
  position: fixed;
  align-items: center;
}

body {
  background-color: #ca7900;
  font-family: sans-serif;
}


.logo_home {
  padding: 0 10px;
  border-right: 1px solid white;
  text-wrap: nowrap;
  text-shadow: 2px 2px 2px #a1a1a1;
}

#main_form{
  display: flex;
  width: 80%;
}

#searchBar {
  flex: 1 1 60%;
  height: 42px;
  min-width: 60%;
  border: 3px none;
  border-radius: 3px;
  margin: 0 1%;
}

#submitButton {
  flex: 1 1 15%;
  color: #ccc;
  background-color: #404040;
  border-radius: 3px;
}

.topNav {
  color: white;
  display: none;
  position: fixed;
  top: 8vh;
  width: 20%;
  height: 100vh;
  background-color: #303030cc;
  overflow: hidden;
  box-shadow: 4px 4px 4px #3333338f;
}

.topNav a {
  display: block;
  padding: 10px 10px;
  margin-bottom: 5px;
  border: 3px solid;
}

.NavIcon {

  color: #fff;
  width: 10%;

  height: 8vh;
  border: 5px none black;
  border-radius: 5px;
  background-color: #303030;

}

.content_container {
  min-height: 100vh;
}

.mainContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 10vh 10%;
  gap: 50px;

}

.mainContent div {
  flex: 1 1 auto;
  border: 1px solid rgb(51, 51, 51);
  border-radius: 3px;
  border-top: 1px solid #ff9900;
  border-left: 1px solid #ff9900;
  box-shadow: 4px 4px 4px #303030;
  padding: 2%;
}

.mainContent>div>h1 {

  font-size: 3.2rem;
  padding-left: 10px;
}

.mainContent>div>p {
  font-size: 1.6rem;
  line-height: 1.6rem;
  text-align: center;
  text-wrap: balance;
}

.About {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
  font-size: 3.2rem;
  padding: 5vh 10%;
  color: #ff9900;
  background-color: #303030;
  text-align: justify;
  text-wrap: pretty;
  /* overflow: hidden; */
}
.About h2{
  background-color: #404040;
  text-align: center;
  padding: 2%;
  border: 2px solid;
  border-top: 2px solid #fdd08b;
  border-left:2px solid #fdd08b;
  border-radius: 3px;
  box-shadow: 2px 2px 10px #000;
}

footer{
  color: #fdd08b;
  background-color: #2e1c00;
  font-size: 1.2rem;
  text-align: center;
  padding: 1%;
}

@media screen and (max-width:700px) {
  .topNav {
    width: 140px;
  }

  header>a, .topNav>a{
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 1px;
  }

  #navButton {
    width: 64px;
  }
}