@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/* Oswald */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
/* open sans */
/* IMPORT AT THE TOP OF THE PAGE */

* {
  box-sizing: border-box;
  margin: 0;


}




.OpenSans14px {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

/* CREATE SOMETHING -> Oswald 120px bold lineH 132 letterSpace 0% white + shadow 0 4 40 #000000 85% */
.Oswald120px {
  font-family: 'Oswald', sans-serif;
  font-size: 120px;
  font-weight: bold;
  line-height: 132px;
  letter-spacing: 0%;
  color: #fff;
  -webkit-text-stroke: 1px #000;
  text-shadow: 0px 4px 40px rgba(0, 0, 0, 85%);
}

/* header font Open sans 14px bold lineH 21 letterspace 2% color 606060 100% shadow 0 4 4 #000000 25%
header.OpenSans14px {
    font-weight: bold;
    line-height: 21px;
    letter-spacing: 2%;
    color: #606060;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 25%);
}
*/


/* passionate about -> Open sans 16px regular lineH auto letterS Mixed #fff shadow 4 4 8 #000 75%*/
.introduction p {
  font-family: 'Open sans', sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 75%);
}

/* discover button Open sans 14px semi bold lineH 18 letterS 10% #fff shadow 0 4 4 #000 25% */
.button_container {
  font-weight: bold;
  line-height: 18px;
  letter-spacing: 10%;
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 25%);
}

body {
  object-fit: cover;

}

/* ///////////////////////////////////HEADER///////////////////////////////////////////// */
header {
  background-color: rgba(0, 0, 0, 90%);
  position: fixed;
  display: flex;
  width: 100%;
  height: 100px;
}

.header_container {
  flex: 1 1 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 20%;
  margin-right: 20%;
}

.header_container a {
  flex: 1 1 auto;
  text-decoration: none;
  color: #606060;
  font-weight: bold;
  line-height: 21px;
  letter-spacing: 2%;
  color: #606060;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 25%);
}

.Bioware_logo {
  width: 50%;
  flex: 1 1 50%;
  text-align: left;
  object-fit: scale-down;
}

.menu {
  flex: 1 1 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.menu a:hover {
  color: #576b8c;
}

/* ///////////////////////////////////HEADER///////////////////////////////////////////// */

/* ///////////////////////////////////CONTENT///////////////////////////////////////////// */
.main_container {
  height: 1234px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content_container {
  flex: 1 1 65%;
  width: 100%;
  background-image: url(../img/backdrop.png);
  background-position: center;
  background-size: cover;
  align-content: center;
  text-align: left;
  text-wrap: balance;

}

.introduction {
  margin-left: 20%;
  margin-right: 20%;
}

.introduction p {
  margin-bottom: 32px;
}

.button_container input {
  height: 66px;
  width: 242px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  font-family: 'Open sans';
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 10%;
  text-align: center;
  align-content: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 25%);
  border: 1px solid #000;
  margin-left: 20%;
  margin-right: 20%;
}

.button_container input:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

/* ///////////////////////////////////CONTENT///////////////////////////////////////////// */
.games_logo {
  width: 100%;
  background-color: #292d33;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.gamelogo_container {
  flex: 1 1 15%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: 20%;
  margin-right: 20%;

}

.gamelogo_container img {
  flex: 1 1 100%;
  object-fit: scale-down;
}


footer {
  width: 100%;
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #191919;
}

/* ///////////////////////////FOOTER CONTENT/////////////////////////////////// */
.footer_container {
  display: flex;
  flex: 1 1 100%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: start;
  margin-left: 20%;
  margin-right: 20%;
}

.footer_logo_container {
  /* flex: 1 1 auto; */
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 24px;
}

.footer_logo_container img {
  /* flex: 1 1 50%; */
  object-fit: scale-down;

}

.footer_mid_container {
  flex: 1 1 auto;
}

.footer_menu_container {
  /* flex: 1 1 auto; */
  display: flex;
  flex-direction: row;
  justify-content: end;

  color: #666666;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 25%);

}

.social_menu {
  /* width: 60px; */
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-right: 78px;
}

.social_menu h2 {
  height: 24px;
  font-size: 14px;
}

.social_menu a {
  height: 24px;
}

.store_menu {
  /* width: 60px; */
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.store_menu h3 {
  height: 24px;
  font-size: 14px;
}

.store_menu a {
  height: 24px;
}

.lien_externe {
  text-decoration: none;
  color: #999999;

}

.lien_externe:hover {
  cursor: pointer;
  color: #576b8c;
}

/* link footer open sans 14 semibold 24 10% #999999 shadow 0 4 4 #000 25%*/

/* /////////////////////////MEDIA QUERY///////////////////// */

/* 1200x */
@media screen and (max-width:1200px) {
  header {
    height: 150px;

  }

  .header_container,
  .introduction,
  .gamelogo_container,
  .button_container,
  .footer_container {
    padding: 5px;
    margin-left: 5%;
    margin-right: 5%;
  }

  .Bioware_logo img {
    object-fit: scale-down;
    width: 100%;
    height: auto;
  }

  .footer_container {

    justify-content: center;
  }

  .menu {
    flex-direction: column;
  }

  .Oswald120px {
    font-size: 60px;
  }

  .button_container input {
    height: 66px;
    width: auto;
  }

  .gamelogo_container {
    flex: 1 1 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .gamelogo_container img {
    max-width: 50%;
    object-fit: scale-down;
    padding: 5px;
  }

  .footer_logo_container {
    flex: 1 1 20%;
    flex-direction: column;
  }

  .footer_mid_container {
    flex: 1 1 1%;
  }

  .EA_dark {
    width: 50%;
  }

  .biologo_dark {
    width: 80%;
  }

  .footer_menu_container {
    flex: 1 1 50%;
    justify-content: start;
  }

  .store_menu {
    flex: 1 1 auto;
  }

  .social_menu {
    flex: 1 1 auto;
    margin-right: 5px;
  }

  .social_menu a {
    font-size: 9px;
  }

  .store_menu a {
    font-size: 9px;
  }
}